/* body */
body {
  background: #00b3e6; 
}

/* div */
div {
  width: 700px;
  margin: auto;
  font-family: "Helvetica Neue";
  background: white;
  padding: 30px;
}

/* id 'main-header' */
#main-header {
  font-size: 22px;
  color: red;
}

/* class 'perspective-questions' */
.perspective-questions {
  font-style: italic;
}
